@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body,
root {
  margin: 0;
  padding: 0;
}

.page-1 {
  background-image: url("assets/gradient-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;

  @media screen and (orientation: portrait) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3em;
    }

    .text {
      font-family: "Quicksand", sans-serif;
      font-size: 2em;
    }
  }

  @media screen and (orientation: landscape) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
    }

    .text {
      font-family: "Quicksand", sans-serif;
      font-size: 2rem;
    }
  }

  .button-blk,
  .button-wht {
    text-decoration: underline;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .app-logo {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 100%;
  }

  .app-info {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em 0;
  }

  .button-blk {
    margin-top: 1.5em;
    background-color: #000000;
    color: #fff;
    padding: 0.25em 0.5em;
    width: fit-content;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  .picture {
    position: relative;
    width: 20%;
    height: 20rem;
  }

  .image {
    position: absolute;
    height: 20rem;
    transform: translate(-50%);
  }

  .description {
    background-color: rgba($color: #ffffff, $alpha: 0.77);
    padding: 4em 0;
    width: 80%;
  }

  .margin {
    margin: 0 2rem;
  }

  .text {
    width: 70%;
  }

  .container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin: 1em 0;

    .text-bold {
      margin: 0.25em 0.5em;
    }
  }

  .button-wht {
    background-color: rgba($color: #ffffff, $alpha: 0.77);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.5em 0.5em;
    cursor: pointer;
  }

  .icon {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.page-2 {
  background-image: url("assets/gradient-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;

  @media screen and (orientation: portrait) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .text-bold-input {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .button {
      width: 15vw;
      height: 15vw;
    }

    .box-buttons {
      height: 50%;
    }

    .box-form {
      height: 50%;
    }

    .submit-icon {
      fill: white;
      width: 10vh;
      height: 10vh;
    }
  }

  @media screen and (orientation: landscape) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vw;
    }

    .text-bold-input {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 2vw;
    }

    .button {
      width: 15vh;
      height: 15vh;
    }

    .box-buttons {
      max-height: 50%;
    }

    .box-form {
      min-height: 50%;
    }

    .submit-icon {
      fill: white;
      width: 10vw;
      height: 10vw;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .box-buttons {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .button {
    cursor: pointer;
    margin: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 100rem;
  }

  .icon {
    width: 4rem;
    height: 4rem;
  }

  .primary {
    background-color: #5c2d61;
  }

  .secondary {
    background-color: #d49384;
  }

  .label {
    font-weight: bold;
  }

  .box-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .input {
    height: fit-content;
  }

  input,
  textarea {
    padding: 0.25em 0.5em;
    width: 100%;
    background-color: unset;
    outline: unset;
    color: white;
    font-weight: bold;
    border: none;
  }
  input {
    flex-grow: 1;
    border-bottom: 0.5rem solid white;
  }

  textarea {
    flex-grow: 1;
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: white;
  }

  button {
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 10;
    right: 20;
    background-color: unset;
    outline: none;
    border: none;
  }

  .submit-icon {
    fill: white;
  }
}

.page-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (orientation: portrait) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .text-bold-input {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .logo {
      height: 20rem;
    }

    input {
      font-size: 3vh;
      height: fit-content;
      border: none;
      outline: none;
      width: 100%;

      border-bottom: 0.75rem dotted #000000;
    }

    input:focus {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 0.75rem dotted #000000;
    }

    .control {
      margin: 2rem 0;
      width: 80%;
    }

    .label {
      margin: 2rem 0;
    }
  }

  @media screen and (orientation: landscape) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vw;
    }

    .logo {
      height: 10rem;
    }

    .text-bold-input {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 2vw;
    }

    .control {
      margin: 1rem 0;
      width: 80%;
    }

    .label {
      margin: 2rem 0;
    }

    input {
      font-size: 2vw;
      height: fit-content;
      border: none;
      outline: none;
      width: 100%;

      border-bottom: 0.25rem dotted #000000;
    }

    input:focus {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: 0.25rem dotted #000000;
    }
  }

  form {
    width: 90%;
  }

  .container {
    font-size: 3rem;
    display: flex;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    object-fit: fill;
  }

  .page-title {
    font-weight: bold;
    text-decoration: underline;
  }

  button {
    width: 80%;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: unset;
    cursor: pointer;
  }
}

.page-4 {
  @media screen and (orientation: portrait) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .link-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 2vh;
    }

    .logo {
      height: 20rem;
    }

    .input {
      font-size: 3vh;
      height: fit-content;
      border: none;
      outline: none;
      width: 100%;

      border-bottom: 0.75rem dotted #000000;
    }

    .icon {
      cursor: pointer;
      width: 4vh;
    }

    .control {
      margin: 2rem 0;
      width: 80%;
    }

    .label {
      margin: 2rem 0;
    }
  }

  @media screen and (orientation: landscape) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vw;
    }

    .link-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 2vw;
    }

    .logo {
      height: 10rem;
    }

    .icon {
      cursor: pointer;
      width: 4vw;
    }

    .control {
      margin: 1rem 0;
      width: 80%;
    }

    .label {
      margin: 1rem 0;
    }

    .input {
      font-size: 2vw;
      height: fit-content;
      border: none;
      outline: none;
      width: 100%;

      border-bottom: 0.25rem dotted #000000;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 90%;
  }

  .container {
    font-size: 3rem;
    display: flex;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-style: italic;
  }

  .logo {
    object-fit: fill;
  }

  .page-title {
    font-weight: bold;
    text-decoration: underline;
  }

  .control {
    margin: 2rem 0;
    width: 80%;
  }

  .label {
    font-weight: bold;
  }

  .button {
    width: 80%;
    padding: 0 3rem;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

.page-5,
.page-7 {
  display: flex;
  justify-content: start;
  align-items: stretch;

  @media screen and (orientation: portrait) {
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vh;
    }

    .box-info {
      border-top: 5px solid black;
    }

    .logo {
      height: 20rem;
    }

    input {
      width: 100%;
      font-size: 3vh;
      border-radius: 100rem;
      border: none;
      outline: none;
      padding: 1rem;
      background-color: #655da3;
      color: #ffffff;
    }

    .icon {
      cursor: pointer;
      width: 4vh;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      justify-content: end;
      align-items: center;
      margin: 1rem 0;
    }

    .button {
      border-radius: 100rem;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #5c2d61;
      color: #ffffff;
      padding: 1rem 2rem;
      margin: 0.5rem 1rem;
    }
    .discard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 6vh;
      height: 6vh;

      margin: 0.5rem 1rem;
      border-radius: 100rem;
      border: none;
      outline: none;
      background-color: #655da3;
      color: #ffffff;
    }

    .icon {
      fill: #fff;
    }

    .control {
      width: 100%;
    }

    .label {
      margin: 2rem 0;
    }

    .container {
      flex-direction: column;
      height: 90%;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }

  @media screen and (orientation: landscape) {
    .box-info {
      margin: 1rem;
    }

    .container {
      flex-direction: row;
      height: 90%;
      justify-content: space-evenly;
      align-items: center;
    }
    .text-bold {
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 3vw;
    }

    .logo {
      height: 10rem;
    }

    .icon {
      cursor: pointer;
      width: 4vw;
    }

    .control {
      width: 100%;
    }

    .label {
      margin: 1rem 0;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      font-weight: bold;
      justify-content: end;
      align-items: center;
      margin: 1rem 0;
    }

    .button {
      border-radius: 100rem;
      border: none;
      cursor: pointer;
      outline: none;
      background-color: #5c2d61;
      color: #ffffff;
      padding: 1rem 2rem;
      margin: 0.5rem 1rem;
    }
    .discard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 6vw;
      height: 6vw;
      margin: 0.5rem 1rem;
      border-radius: 100rem;
      border: none;
      outline: none;
      background-color: #655da3;
      color: #ffffff;
    }

    .icon {
      fill: #fff;
    }

    input {
      width: 100%;
      font-size: 3vw;

      border-radius: 100rem;
      border: none;
      outline: none;
      padding: 1rem;
      background-color: #655da3;
      color: #ffffff;
    }
  }

  form {
    width: 100%;
  }

  .container {
    display: flex;
  }
  .box-form {
    width: 90%;
    margin: 3rem;
  }
  .label {
    font-weight: bold;
    margin: 1rem 0;
  }

  .box-info {
    padding: 3rem;
    font-weight: bold;
    width: 70%;
  }
}

.page-6 {
  background-image: url("assets/gradient-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;

  @media screen and (orientation: portrait) {
    .text-bold {
      font-size: 2.25vh;
    }

    .avatar {
      width: 20vw;
      height: 20vw;
      top: 2vw;
      left: -2vw;
    }

    .phantom-avatar {
      width: 20vw;
      height: 20vw;
      top: 0;
      left: -4vw;
      border: 2.5vw solid #fff;
    }

    .cover {
      height: 70vw;
      width: 70vw;
      max-width: 550px;
      max-height: 600px;

      border-radius: 5vh;
      border: 2.5vw solid #fff;
    }

    .price {
      padding: 2vw 5vw;
      transform: translate(0, -5vw);
    }

    .text {
      padding: 5vw 4vw;
    }

    .logo {
      width: 15vw;
    }
  }

  @media screen and (orientation: landscape) {
    .text-bold {
      font-size: 3vh;
    }

    .avatar {
      width: 15vh;
      height: 15vh;
      top: 2vh;
      left: -2vh;
    }

    .phantom-avatar {
      width: 15vh;
      height: 15vh;
      top: 0;
      left: -4vh;
      border: 2.5vh solid #fff;
    }

    .cover {
      height: 50vh;
      width: 50vh;
      border-radius: 5vh;
      border: 2.5vh solid #fff;
    }

    .price {
      padding: 2vh 5vh;
      transform: translate(0, -5vh);
    }

    .text {
      padding: 4vh 3vh;
    }

    .logo {
      width: 10vh;
    }
  }

  .text-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .username {
    color: #fff;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
  }

  .avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 150vh;
  }

  .phantom-avatar {
    background-color: #ffffff;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    border-radius: 150vh;
  }

  .cover {
    object-fit: cover;
  }

  .price {
    text-decoration: underline;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5000px;
  }

  .text {
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
  }
}
