@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body,
root {
  margin: 0;
  padding: 0;
}

.material-symbols-outlined.md-18 {
  font-size: 18px;
}
.material-symbols-outlined.md-24 {
  font-size: 24px;
}
.material-symbols-outlined.md-36 {
  font-size: 36px;
}
.material-symbols-outlined.md-48 {
  font-size: 48px;
}

.page-1 {
  background-image: url("assets/gradient-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}
@media screen and (orientation: portrait) {
  .page-1 .text-bold {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
  }

  .page-1 .text {
    font-family: "Quicksand", sans-seriif;
    font-size: 2em;
  }
}
@media screen and (orientation: landscape) {
  .page-1 .text-bold {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
  }
  .page-1 .text {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
  }
}

.button-blk a:link,
.button-blk a:visited,
.button-blk a:hover,
.button-blk a:active {
  color: #ffffff;
}

.button-wht a:link,
.button-wht a:visited,
.button-wht a:hover,
.button-wht a:active {
  color: #000000;
}

.page-1 .button-blk,
.page-1 .button-wht {
  text-decoration: underline;
}
.page-1 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.page-1 .app-logo {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-1 .logo {
  height: 100%;
}
.page-1 .app-info {
  width: 100%;
  height: fit-content;
  max-height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-1 .container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}
.page-1 .button-blk {
  margin-top: 1.5em;
  background-color: #000000;
  color: #fff;
  padding: 0.25em 0.5em;
  width: fit-content;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.page-1 .picture {
  position: relative;
  width: 20%;
  height: 20rem;
}
.page-1 .image {
  position: absolute;
  height: 20rem;
  transform: translate(-50%);
}
.page-1 .description {
  background-color: rgba(255, 255, 255, 0.77);
  padding: 4em 0;
  width: 80%;
}
.page-1 .margin {
  margin: 0 2rem;
}
.page-1 .text {
  width: 70%;
}
.page-1 .container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  margin: 1em 0;
}
.page-1 .container-bottom .text-bold {
  margin: 0.25em 0.5em;
}
.page-1 .button-wht {
  background-color: rgba(255, 255, 255, 0.77);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5em 0.5em;
  cursor: pointer;
}
.page-1 .icon {
  width: 4.5rem;
  height: 4.5rem;
}

.page-2 {
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
}

.page-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.page-2 .text-bold {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.page-2 .control {
  border-radius: 5px;
  background-color: rgb(141, 134, 184);
  display: flex;
  width: 80%;
  padding: 0.7rem 0.5rem;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.page-2 .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.page-2 .file-control {
  font-size: 1rem;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 0.5rem;
  background-color: #7168a7;
}

.page-2 .icon {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 2.5rem;
}

.page-2 .input {
  background-color: unset;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  width: 80%;
  font-family: "Quicksand", sans-serif;
  outline: none;
  border: none;
}

.page-2 button {
  outline: none;
  border: none;
  background-color: unset;
  text-decoration: underline;
  cursor: pointer;
}

.page-2 .box {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.page-2 .align-left {
  align-items: flex-start;
}

.page-2 .align-right {
  align-items: flex-end;
}

@media screen and (orientation: portrait) {
}
@media screen and (orientation: landscape) {
}

.page-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .page-3 .text-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3vh;
  }
  .page-3 .text-bold-input {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3vh;
  }
  .page-3 .logo {
    height: 20rem;
  }
  .page-3 input {
    font-size: 3vh;
    height: fit-content;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 0.75rem dotted #000000;
  }
  .page-3 input:focus {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.75rem dotted #000000;
  }
  .page-3 .control {
    margin: 2rem 0;
    width: 80%;
  }
  .page-3 .label {
    margin: 2rem 0;
  }
}
@media screen and (orientation: landscape) {
  .page-3 .text-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3vw;
  }
  .page-3 .logo {
    height: 10rem;
  }
  .page-3 .text-bold-input {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }
  .page-3 .control {
    margin: 1rem 0;
    width: 80%;
  }
  .page-3 .label {
    margin: 2rem 0;
  }
  .page-3 input {
    font-size: 2vw;
    height: fit-content;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 0.25rem dotted #000000;
  }
  .page-3 input:focus {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.25rem dotted #000000;
  }
}
.page-3 form {
  width: 90%;
}
.page-3 .container {
  font-size: 3rem;
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.page-3 .box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-3 .logo {
  object-fit: fill;
}
.page-3 .page-title {
  font-weight: bold;
  text-decoration: underline;
}
.page-3 button {
  width: 80%;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;
  cursor: pointer;
}

.page-4 {
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
}

.page-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.page-4 .text-bold {
  text-transform: uppercase;
  font-weight: bold;
}

.page-4 .header {
  font-size: 2rem;
}

.page-4 button {
  outline: none;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.page-4 .underline {
  text-decoration: underline;
}

.page-4 .space {
  height: 2rem;
}

.page-4 .control {
  border-radius: 5px;
  background-color: rgb(141, 134, 184);
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem 0.5rem;
}

.page-4 .button-2 {
  background-color: rgb(141, 134, 184);
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.25rem 1rem;
  width: fit-content;
}

.center {
  justify-content: space-evenly;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.page-4 .white-bold {
  color: #fff;
  font-weight: bold;
}

.page-4 .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: 1rem;
}

.row .label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  width: 20%;
}

.box .control {
  width: 100%;
}

.page-4 .small {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  width: fit-content;
}

.row .link {
  cursor: pointer;
}

.row .icon-2 {
  color: #000;
  cursor: pointer;
}

.page-4 .icon {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 2.5rem;
}

.page-4 .label-2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  width: fit-content;
}

.page-4 .input {
  background-color: unset;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  width: 80%;
  font-family: "Quicksand", sans-serif;
  outline: none;
  border: none;
}

.page-4 .hr {
  border-bottom: 3px solid black;
  width: 50%;
  height: 1rem;
}

.page-4 .box {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.page-4 .align-left {
  align-items: flex-start;
}

.page-4 .align-right {
  align-items: flex-end;
}

@media screen and (orientation: portrait) {
}
@media screen and (orientation: landscape) {
}

.page-5,
.page-7 {
  display: flex;
  justify-content: start;
  align-items: stretch;
}
@media screen and (orientation: portrait) {
  .page-5 .text-bold,
  .page-7 .text-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3vh;
  }
  .page-5 .box-info,
  .page-7 .box-info {
    border-top: 5px solid black;
  }
  .page-5 .logo,
  .page-7 .logo {
    height: 20rem;
  }
  .page-5 input,
  .page-7 input {
    width: 100%;
    font-size: 3vh;
    border-radius: 100rem;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #655da3;
    color: #ffffff;
  }
  .page-5 .icon,
  .page-7 .icon {
    cursor: pointer;
    width: 4vh;
  }
  .page-5 .buttons,
  .page-7 .buttons {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    margin: 1rem 0;
  }
  .page-5 .button,
  .page-7 .button {
    border-radius: 100rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5c2d61;
    color: #ffffff;
    padding: 1rem 2rem;
    margin: 0.5rem 1rem;
  }
  .page-5 .discard,
  .page-7 .discard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 6vh;
    margin: 0.5rem 1rem;
    border-radius: 100rem;
    border: none;
    outline: none;
    background-color: #655da3;
    color: #ffffff;
  }
  .page-5 .icon,
  .page-7 .icon {
    fill: #fff;
  }
  .page-5 .control,
  .page-7 .control {
    width: 100%;
  }
  .page-5 .label,
  .page-7 .label {
    margin: 2rem 0;
  }
  .page-5 .container,
  .page-7 .container {
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
@media screen and (orientation: landscape) {
  .page-5 .box-info,
  .page-7 .box-info {
    margin: 1rem;
  }
  .page-5 .container,
  .page-7 .container {
    flex-direction: row;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
  }
  .page-5 .text-bold,
  .page-7 .text-bold {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 3vw;
  }
  .page-5 .logo,
  .page-7 .logo {
    height: 10rem;
  }
  .page-5 .icon,
  .page-7 .icon {
    cursor: pointer;
    width: 4vw;
  }
  .page-5 .control,
  .page-7 .control {
    width: 100%;
  }
  .page-5 .label,
  .page-7 .label {
    margin: 1rem 0;
  }
  .page-5 .buttons,
  .page-7 .buttons {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: end;
    align-items: center;
    margin: 1rem 0;
  }
  .page-5 .button,
  .page-7 .button {
    border-radius: 100rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #5c2d61;
    color: #ffffff;
    padding: 1rem 2rem;
    margin: 0.5rem 1rem;
  }
  .page-5 .discard,
  .page-7 .discard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 6vw;
    margin: 0.5rem 1rem;
    border-radius: 100rem;
    border: none;
    outline: none;
    background-color: #655da3;
    color: #ffffff;
  }
  .page-5 .icon,
  .page-7 .icon {
    fill: #fff;
  }
  .page-5 input,
  .page-7 input {
    width: 100%;
    font-size: 3vw;
    border-radius: 100rem;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #655da3;
    color: #ffffff;
  }
}
.page-5 form,
.page-7 form {
  width: 100%;
}
.page-5 .container,
.page-7 .container {
  display: flex;
}
.page-5 .box-form,
.page-7 .box-form {
  width: 90%;
  margin: 3rem;
}
.page-5 .label,
.page-7 .label {
  font-weight: bold;
  margin: 1rem 0;
}
.page-5 .box-info,
.page-7 .box-info {
  padding: 3rem;
  font-weight: bold;
  width: 70%;
}

.page-7 a:link,
.page-7 a:visited,
.page-7 a:hover,
.page-7 a:active {
  color: #000000;
}

.page-6 {
  background-image: url("assets/gradient-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center;
}
@media screen and (orientation: portrait) {
  .page-6 .text-bold {
    font-size: 2vh;
  }
  .page-6 .avatar {
    width: 20vw;
    height: 20vw;
    top: 2vw;
    left: -2vw;
  }
  .page-6 .phantom-avatar {
    width: 20vw;
    height: 20vw;
    top: 0;
    left: -4vw;
    border: 2.5vw solid #fff;
  }
  .page-6 .cover {
    height: 70vw;
    width: 70vw;
    max-width: 550px;
    max-height: 600px;
    border-radius: 5vh;
    border: 2.5vw solid #fff;
  }
  .page-6 .price {
    padding: 2vw 5vw;
    transform: translate(0, -5vw);
  }
  .page-6 .logo {
    width: 15vw;
  }
}
@media screen and (orientation: landscape) {
  .page-6 .text-bold {
    font-size: 3vh;
  }
  .page-6 .avatar {
    width: 15vh;
    height: 15vh;
    top: 2vh;
    left: -2vh;
  }
  .page-6 .phantom-avatar {
    width: 15vh;
    height: 15vh;
    top: 0;
    left: -4vh;
    border: 2.5vh solid #fff;
  }
  .page-6 .cover {
    height: 50vh;
    width: 50vh;
    border-radius: 5vh;
    border: 2.5vh solid #fff;
  }
  .page-6 .price {
    padding: 2vh 5vh;
    transform: translate(0, -5vh);
  }
  .page-6 .logo {
    width: 10vh;
  }
}
.page-6 .text-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.page-6 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.page-6 .username {
  color: #fff;
}
.page-6 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}
.page-6 .avatar {
  position: absolute;
  object-fit: cover;
  border-radius: 150vh;
}
.page-6 .phantom-avatar {
  background-color: #ffffff;
  z-index: -1;
  position: absolute;
  object-fit: cover;
  border-radius: 150vh;
}
.page-6 .cover {
  object-fit: cover;
}
.page-6 .price {
  text-decoration: underline;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5000px;
}
.page-6 .text {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
