@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$black: #000000;
$white: #ffffff;

$gradient_start: #5c2d61;
$gradient_end: #fcd010;
$button_1: #d49384;
$button_2: #98779c;
$input_blue: #655da3;

$gradient_1: linear-gradient(
  0deg,
  rgba(92, 45, 97, 1) 0%,
  rgba(212, 147, 132, 1) 50%,
  rgba(101, 93, 163, 1) 100%
);
$gradient_2: linear-gradient(
  325deg,
  rgba(92, 45, 97, 1) 0%,
  rgba(212, 147, 132, 1) 100%
);

// fonts: PlaylistScript, Aleo, Montserrat Light, Quicksand, Glacial Indifference
html,
body,
root {
  margin: 0;
  padding: 0;
}

input {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

.background-gradient-1 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  height: 100%;
  background: $gradient_1;
  font-size: 1.5rem;
}

.logo {
  height: 40rem;
  object-fit: fill;
}

.box {
  background-color: rgba($color: #ffffff, $alpha: 0.77);
  width: 85%;
}

.box-short {
  background-color: rgba($color: #ffffff, $alpha: 0.77);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.pd {
  padding: 7rem 0;
}

.header {
  font-size: 4rem;
  margin: 0 1.5rem;
}

.content {
  font-size: 2rem;
  width: 30rem;
  margin: 0 1.5rem;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.img {
  position: relative;
  width: 15%;
  height: 25rem;

}

.ig-logo {
  width: 25rem;
  height: 25rem;
  object-fit: fill;
  position: absolute;
  right: 50;
}

.icon {
  width: 4rem;
  height: 4rem;
}


.aleo {
  font-family: "Aleo", serif;
}

.monsterrat {
  font-family: "Montserrat", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.button-dark {
  font-size: 4rem;
  font-weight: bold;
  color: $white;
  text-decoration: underline;
  background-color: #000000;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  padding: 0.75rem 2rem;

}

.button-md {
  margin-top: 4rem;
}

.button-light {
  font-size: 4rem;
  font-weight: bold;
  color: $black;
  text-decoration: underline;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.spacer {
  height: 5rem;
  width: 10%;
}

// Page 1

// Page 2

// Page 3
.page-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 90%;
  }

  .container {
    font-size: 3rem;
    display: flex;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .logo {
    height: 20rem;
    object-fit: fill;
  }

  .page-title {
    font-weight: bold;
    text-decoration: underline;
  }

  .control {
    margin: 2rem 0;
    width: 80%;
    .label {
      margin: 2rem 0;
      font-weight: bold;
    }

    input {
      font-size: 3rem;
      height: fit-content;
      border: none;
      outline: none;
      width: 100%;

      border-bottom: .75rem dotted $black;
    }

    input:focus {
      width: 100%;
      outline: none;
      border: none;
      border-bottom: .75rem dotted $black;

    }
  }
  .button {
    width: 80%;
    padding: 0 3rem;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Page 4
.page-4 {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    width: 90%;
  }

  .container {
    font-size: 3rem;
    display: flex;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }

  .link {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .logo {
    height: 20rem;
    object-fit: fill;
  }

  .page-title {
    font-weight: bold;
    text-decoration: underline;
  }

  .control {
    margin: 2rem 0;
    width: 80%;
    .label {
      margin: 2rem 0;
      font-weight: bold;
    }

    .input {
      margin: 2rem 0;
      font-weight: bold;
      font-size: 3rem;
      height: fit-content;
      border: none;
      outline: none;
      width: 60%;

      border-bottom: .75rem dotted $black;
    }
  }
  .button {
    width: 80%;
    padding: 0 3rem;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
}

// Page 5
.page-5, .page-7 {
  display: flex;
  justify-content: start;
  align-items: stretch;
  form {
    width: 100%;
  }

  .container{
    font-size: 3rem;
    display: flex;
    height: 90%;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


    .box-form {
      width: 90%;
      margin: 8rem auto;
      .control {
        .label {
          font-weight: bold;
          margin: 1rem 0;
        }

        input {
          width: 100%;
          font-size: 3rem;
          border-radius: 100rem;
          border: none;
          outline: none;
          padding: 1rem;
          background-color: #655da3;
          color: $white;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        justify-content: end;
        margin: 1rem 0;
    font-size: 2rem;


        .button {
          border-radius: 100rem;
          border: none;
          outline: none;
          background-color: $gradient_start;
          color: $white;
          padding: 1rem 2rem;
          margin: .5rem 1rem;
        }
        .discard {
        font-size: 3rem;
        text-align: center;
        margin: .5rem 1rem;

          width: 72px;
          border-radius: 100rem;
          border: none;
          outline: none;
          background-color: #655da3;
          color: $white;
        }
      }
    }

    .box-info {
      border-top: 5px solid black;
      padding: 3rem;
      font-weight: bold;
      width: 70%;
    }
  }
}

// Page 6

